.border-bottom {
  border-bottom: 1px solid $gray-400 !important;
}
.border-top {
  border-top: 1px solid $gray-400 !important;
}
.border-bottom-tech-thick {
  border-bottom: 2px solid $tech !important;
}