.font-1 {
  font-size: 1rem;
}
.font-1.5 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2rem;
}
.font-3 {
  font-size: 3rem;
}
p {
  word-wrap: break-word !important;
}
* {
  word-wrap: break-word !important;
}